<h1>Collaborators</h1>

<div>
  <%= link_to "See all Wikis", wikis_path %>
</div>

<hr>
<% if current_user.role?(:admin) || current_user.role?(:premium) %>
  <% @users.each do |user| %>
    <div class='row bordered'>

      <div class='col-md-8'>
        <%= user.email %>
      </div>

      <div class='col-md-2'>
        <% if @wiki.users.include?(user) %>
          <% collab = Collaborator.where(user_id: user.id, wiki_id: @wiki.id).first %>
          <%= link_to  "Remove", [@wiki, collab], method: :delete, data: { confirm: 'Are you sure you want to remove this collaborator?'}, class: 'btn btn-primary btn' %> 

        <% else %>

          <%= form_for [@wiki, @collaborator] do |f| %>
            <%= f.hidden_field :wiki_id, value: @wiki.id %>
            <%= f.hidden_field :user_id, value: user.id %>
            <%= f.submit "Add", class: 'btn btn-primary btn' %>
          <% end %>
          
        <% end %>
      </div>

    </div>
  <% end %>
<% end %>
